<div class="about-container">
  <!-- Überschrift und Pfeil -->
  <div class="about-header">
    <h1 class="about-title">Datenschutzerklärung</h1>
    <div class="toggle-arrow" (click)="toggleContent()">
      <span [class]="isContentHidden ? 'arrow arrow-down' : 'arrow arrow-up'"></span>
    </div>
    
  </div>
  <div class="underline" *ngIf="!isContentHidden"></div>

  <!-- Versteckbarer Inhalt -->
  <div class="about-content" *ngIf="!isContentHidden">
    <p>
      Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Diese Datenschutzerklärung informiert Sie darüber, wie wir personenbezogene Daten auf dieser Website verarbeiten.
    </p>
    
    <h2>Verantwortliche Stelle</h2>
    
      <p>Christoph Hoewische</p>
      TÜV Rheinland FSP<br>
      Antwerpener Str. 8<br>
      48163 Münster<br>
      <p>Kontaktinformationen: <a href="mailto:christoph.hoewische&#64;tuv.com">christoph.hoewische&#64;tuv.com</a>, Telefonnummer: : 0172 2370228</p>
    
    
    <h2>Datenverarbeitung</h2>
    <ul>
      Wir setzen keine Cookies ein, außer technisch notwendige Cookies.<br>
      Es werden keine personenbezogenen Daten ohne Ihre Zustimmung erhoben oder verarbeitet.<br>
    </ul>
    
    <h2>Server-Log-Dateien</h2>
    <p>
      Unser Hosting-Provider speichert automatisch Informationen in sogenannten Server-Log-Dateien. Diese Daten umfassen:
    </p>
    <ul>
      IP-Adresse<br>
      Browsertyp und -version<br>
      Datum und Uhrzeit des Zugriffs<br>
      Referrer-URL<br>
    </ul>
    <p>Diese Daten sind technisch notwendig, um die Website auszuliefern, und werden nicht mit anderen Datenquellen zusammengeführt.</p>
    
    <h2>Kontakt</h2>
    <p>
      Wenn Sie Fragen zum Datenschutz haben, können Sie uns unter 
      <a href="mailto:christoph.hoewische&#64;tuv.com">christoph.hoewische&#64;tuv.com</a> 
      kontaktieren.
    </p>
    
  </div>
</div>
