<div class="about-container">
  <!-- Überschrift und Pfeil -->
  <div class="about-header">
    <h1 class="about-title">Impressum</h1>
    <div class="toggle-arrow" (click)="toggleContent()">
      <span [class]="isContentHidden ? 'arrow arrow-down' : 'arrow arrow-up'"></span>
    </div>
    
  </div>
  <div class="underline" *ngIf="!isContentHidden"></div>
 
  <!-- Versteckbarer Inhalt -->
  <div class="about-content" *ngIf="!isContentHidden">
    <p>
      Angaben gemäß § 5 TMG:
    </p>
  
      <p>Christoph Hoewische</p>
      TÜV Rheinland FSP<br>
      Antwerpener Str. 8<br>
      48163 Münster<br>
      <p>
      Email: <a href="mailto:christoph.hoewische1&#64;tuv.com">christoph.hoewische1&#64;tuv.com</a><br> 
      Telefonnummer: : 0172 2370228<br>
    </p>
      <p>Steuernummer: 336/5087/3078 Finanzamt Münster-Außenstadt </p>
    <h2>Vertreten durch:</h2>
    <p>
      Christoph Hoewische
    </p>
    
    <h2>Haftung für Inhalte</h2>
    <p>
      Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
    </p>
    
    <h2>Haftung für Links</h2>
    <p>
      Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
    </p>
    
    <h2>Urheberrecht</h2>
    <p>
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
    </p>
  </div>
</div>


