<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="reference-card">
                <p>„Eine schnelle und kompetente Abwicklung, auf die man sich jederzeit verlassen kann -klasse!“</p>
                <p><strong>Claus Götte – ATG Racing – Offizieller Importeur Brembo Performance & Racing -Münster</strong></p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="reference-card">
                <p>„Unsere Änderungsabnahmen werden unkompliziert und präzise erledigt – genau das, was wir gesucht haben!“</p>
                <p><strong>Markus Stegemann – Inhaber MPS Engineering GbR – Dülmen</strong></p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="reference-card">
                <p>„Die Kombination aus Fachkenntnis und Kundenorientierung ist entscheidend. Wir arbeiten immer wieder gerne zusammen“</p>
                <p><strong>Peter Kaiser – Inhaber Kaiser Fahrzeugbau – Ascheberg</strong></p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="reference-card">
                <p>„Besonders schätzen wir die Transparenz und die klare Kommunikation bei allen Prozessen. Absolut empfehlenswert!“</p>
                <p><strong>Peter Bonk – Inhaber Peter Bonk KFZ KG</strong></p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="reference-card">
                <p>„Professionelle Beratung und genaues Eingehen auf unsere Bedürfnisse – wir fühlen uns jederzeit gut betreut und unterstützt.“</p>
                <p><strong>Yilmaz Şirin – Betriebsleiter Frigovans GmbH – Lünen</strong></p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="reference-card">
                <p>„Von der Hauptuntersuchung bis zur Änderungsabnahme – alles auf höchstem Niveau und immer mit einem Auge fürs Detail.“</p>
                <p><strong>Alexander Krause – Geschäftsführer Auto Krause GmbH Münster</strong></p>
            </div>
        </div>
    </div>
    <!-- Navigationspfeile -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Pagination Punkte -->
    <div class="swiper-pagination"></div>
</div>
