<!-- Navbar -->
<mat-toolbar [ngClass]="{ 'navbar-transparent': !isScrolled, 'navbar-scrolled': isScrolled }" class="navbar">
  <!-- Logo -->
  <div class="logo-container">
  <img src="assets/Logo_Titel.png" alt="Logo" class="logo" >
  </div>
  <!-- Desktop Navigation -->
  <ng-container *ngIf="currentWidth > 768; else mobileMenu">
    <div class="nav-links">
      <button mat-button (click)="scrollTo('services')">Leistungen</button>
      <button mat-button (click)="scrollTo('about')">Über mich</button>
      <button mat-button (click)="scrollTo('contact')">Kontakt</button>
      <button mat-button (click)="scrollTo('references')">Referenzen</button>
      <button mat-button (click)="scrollTo('datenschutz')">Datenschutzerklärung</button>
      <button mat-button (click)="scrollTo('impressum')">Impressum</button>
    </div>
  </ng-container>
  <div>
  <button mat-raised-button  class="appointment-button" (click)="bookAppointment()" *ngIf="currentWidth > 768; else mobileMenu">Jetzt Termin vereinbaren!</button>
  </div>

<!-- Mobile Navigation -->
  <ng-template #mobileMenu>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="custom-menu-panel">
      <button mat-menu-item (click)="scrollTo('services')">Leistungen</button>
      <button mat-menu-item (click)="scrollTo('about')">Über mich</button>
      <button mat-menu-item (click)="scrollTo('contact')">Kontakt</button>
      <button mat-menu-item (click)="scrollTo('references')">Referenzen</button>
      <button mat-menu-item (click)="scrollTo('datenschutz')">Datenschutzerklärung</button>
      <button mat-menu-item (click)="scrollTo('impressum')">Impressum</button>
      <button mat-menu-item color="primary" (click)="bookAppointment()">Jetzt Termin vereinbaren!</button>
    </mat-menu>
  </ng-template>
</mat-toolbar>

<!-- Content -->
<div class="content">
  <!-- Home Section -->
  <section id="services">
    <app-services></app-services>
  </section>

  <!-- References Section -->
  <section id="references">
    <app-references></app-references>
  </section>

  <!-- Contact Section -->
  <section id="contact">
    <app-contact></app-contact>
  </section>
  
  <!-- About Section -->
  <section id="about">
    <app-about></app-about>
  </section>

  <!-- Privacy Policy Section -->
  <section id="datenschutz">
    <app-datenschutz></app-datenschutz>
  </section>

  <!-- Impressum Section -->
  <section id="impressum">
    <app-impressum></app-impressum>
  </section>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <!-- Contact Info -->
    <div class="footer-section contact-info">
      <h3>Kontakt</h3>
      <p><strong>TÜV Rheinland FSP</strong></p>
      <p>Antwerpener Str. 8<br>48163 Münster</p>
      <p>
        Telefon: <a href="tel:01722370228">0172 2370228</a><br>
        E-Mail: <a href="mailto:[noch nicht vorhanden]">[noch nicht vorhanden]</a>
      </p>
    </div>

    <!-- Bank Info -->
    <div class="footer-section bank-info">
      <h3>Bankverbindung</h3>
      <p><strong>Bankname:</strong> Musterbank</p>
      <p><strong>IBAN:</strong> DE00 1234 5678 9101 1121 00</p>
      <p><strong>BIC:</strong> ABCDDEFFXXX</p>
    </div>

    <!-- Legal Info -->
    <div class="footer-section legal-info">
      <h3>Rechtliches</h3>
      <p><a href="#datenschutz">Datenschutzerklärung</a></p>
      <p><a href="#impressum">Impressum</a></p>
    </div>

    <!-- Social Media -->
    <div class="footer-section social-media">
      <h3>Folge uns</h3>
      <p>Links zu Social Media oder weiteren Informationen können hier eingefügt werden.</p>
      <div class="social-icons">
        <a href="#" aria-label="Whatsapp"><img src="/assets/whatsapp.webp" alt="Whatsapp"></a>
        <a href="#" aria-label="Youtube"><img src="/assets/youtube.webp" alt="Youtube"></a>
        <a href="#" aria-label="Instagram"><img src="/assets/insta.webp" alt="Instagram"></a>
      </div>
    </div>
  </div>
</footer>