<mat-toolbar class="navbar" *ngIf="isNavbarVisible">
  <button mat-button (click)="scrollTo('home')" style="color: white;">Home</button>
  <button mat-button (click)="scrollTo('about')"style="color: white;">About</button>
  <button mat-button (click)="scrollTo('contact')"style="color: white;">Contact</button>
</mat-toolbar>

<!-- Logo hinzugefügt -->
<img src="assets/logo.png" alt="Logo" class="logo">

<div class="content">
  <section id="home">
    <app-home></app-home>
  </section>

  <section id="about">
    <app-about></app-about>
  </section>

  <section id="contact">
    <app-contact></app-contact>
  </section>
</div>
