<mat-toolbar class="navbar" *ngIf="isNavbarVisible">
  <button mat-button (click)="scrollTo('home')" style="color: white;">Home</button>
  <button mat-button (click)="scrollTo('about')"style="color: white;">About</button>
  <button mat-button (click)="scrollTo('contact')"style="color: white;">Contact</button>
</mat-toolbar>

<!-- Logo hinzugefügt -->
<img  src="assets/logo.png" alt="Logo" class="logo" *ngIf="lo">

<div class="content">
  <section id="home">
    <app-home></app-home>
  </section>

  <section id="about">
    <app-about></app-about>
  </section>

  <section id="contact">
    <app-contact></app-contact>
  </section>
</div>

<!-- Footer Section in HTML -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-section contact-info">
      <h3>Kontakt</h3>
      <p><strong>TÜV Rheinland FSP</strong></p>
      <p>Antwerpener Str. 8<br> 48163 Münster</p>
      <p>Telefon: <a href="tel:01722370228">0172 2370228</a><br>
      E-Mail: <a href="mailto:[noch nicht vorhanden]">[noch nicht vorhanden]</a></p>
    </div>

    <div class="footer-section bank-info">
      <h3>Bankverbindung</h3>
      <p><strong>Bankname:</strong> Musterbank</p>
      <p><strong>IBAN:</strong> DE00 1234 5678 9101 1121 00</p>
      <p><strong>BIC:</strong> ABCDDEFFXXX</p>
    </div>

    <div class="footer-section legal-info">
      <h3>Rechtliches</h3>
      <p><a href="#datenschutz">Datenschutzerklärung</a></p>
      <p><a href="#impressum">Impressum</a></p>
    </div>

    <div class="footer-section social-media">
      <h3>Folge uns</h3>
      <p>Links zu Social Media oder weiteren Informationen können hier eingefügt werden.</p>
      <!-- Social Media Icons als Beispiel -->
      <div class="social-icons">
        <a href="#" aria-label="Whatsapp"><img src="/assets/whatsapp.webp" alt="Whatsapp"></a>
        <a href="#" aria-label="Youtube"><img src="/assets/youtube.webp" alt="Youtube"></a>
        <a href="#" aria-label="Instagram"><img src="/assets/insta.webp" alt="Instagram"></a>
      </div>
    </div>
  </div>
</footer>
