<div class="about-container">
    <!-- Überschrift und Pfeil -->
    <div class="about-header">
      <h1 class="about-title">Über mich</h1>
      <div class="toggle-arrow" (click)="toggleContent()">
        <span [class]="isContentHidden ? 'arrow arrow-down' : 'arrow arrow-up'"></span>
      </div>
      
    </div>
    <div class="underline" *ngIf="!isContentHidden"></div>
   
  
    <!-- Bildcontainer -->
    <div class="aboutme-header">
      <img src="/assets/profile1.jpg" alt="Profilbild" class="about-image" *ngIf="!isContentHidden">
    </div>
  
    <!-- Versteckbarer Inhalt -->
    <div class="about-content" *ngIf="!isContentHidden">
      <h2>Wer bin ich?</h2>
      <p>
        Hallo, ich bin Christoph, 48 Jahre alt und leidenschaftlicher Freiberufler. Nach meinem Abitur habe ich eine 
        Ausbildung zum Kraftfahrzeugmechaniker absolviert und anschließend Maschinenbau studiert, was mir eine solide 
        Grundlage für meine Karriere als Ingenieur gegeben hat. Mit 19 Jahren Erfahrung in der Branche habe ich mich im 
        Jahr 2025 entschieden, den Schritt in die Selbstständigkeit zu wagen. Ich bin Prüfingenieur, 
        DMSB-Motorsportsachverständiger und Unterschriftsberechtigter für den TD. Als begeisterter Oldtimerliebhaber und 
        Hobbymechaniker habe ich schon früh meine Leidenschaft für Autos entdeckt – meinen ersten Motorenumbau habe ich 
        mit 16 Jahren durchgeführt.
      </p>
  
      <h2>Was biete ich an?</h2>
      <p>
        In meinem Ingenieurbüro biete ich eine Vielzahl von Dienstleistungen rund um Fahrzeuge an. Dazu gehören 
        Hauptuntersuchungen, Änderungsabnahmen, Vollgutachten für Neufahrzeuge, Gasprüfungen, Gefahrgutabnahmen, 
        Schwerlastgutachten, Ausnahmegutachten, Gutachten für Oldtimer und vieles mehr. Mein Ziel ist es, Ihnen mit 
        meiner Expertise und meinem Engagement zur Seite zu stehen, um sicherzustellen, dass Ihr Projekt sicher ist 
        und Ihre Fahrzeuge alle gesetzlichen Anforderungen erfüllen.
      </p>
  
      <h2>Warum tue ich das?</h2>
      <p>
        Der Wechsel in die Selbstständigkeit war für mich ein wichtiger Schritt, um meine Leidenschaft für Autos, Tuning 
        und Fahrzeugbau noch individueller und bedarfsgerechter auf die Wünsche meiner Kunden zuzuschneiden. Ich möchte, 
        dass Sie sich bei mir gut aufgehoben fühlen und keine Berührungsängste haben. Mein Ziel ist es, eine dauerhafte 
        und vertrauensvolle Beziehung zu meinen Partnern aufzubauen und Ihnen mit meinem Wissen und meiner Erfahrung zur 
        Seite zu stehen. Ich freue mich darauf, gemeinsam mit Ihnen an Ihren Fahrzeugen zu arbeiten und Ihre Wünsche zu 
        realisieren!
      </p>
    </div>
  </div>
  