<div class="services-container">
  <div class="tuv-sticker">
    <a href="https://fsp.de/" target="_blank">
      <img src="/assets/logo2.jpg" alt="TÜV Rheinland Logo" class="sticker-logo">
  </a>
    <p>Partner des TÜV Rheinland</p>
  </div>
  <h1 class="services-title">Unsere Leistungen</h1>
  <div class="underline"></div>
  <div class="services-grid">
    <div 
      class="service-box" 
      [class.expanded]="selectedServiceIndex === i" 
      *ngFor="let service of services; let i = index" 
      (click)="toggleService(i)"
    >
      <div class="service-image">
        <img [src]="service.image" alt="{{ service.title }}" />
      </div>
      <div class="service-content">
        <h2>{{ service.title }}</h2>
        <div 
          class="service-description" 
          *ngIf="selectedServiceIndex === i"
          [innerHTML]="service.description"
        ></div>
      </div>
    </div>
  </div>
</div>
