/* Styling for the navbar */
.navbar {
    border-radius: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1118px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(0, 113, 185, 0.9) !important;
    padding: 0 20px;
    margin: 0 20px;
    color: white !important;
    transition: transform 0.3s ease-in-out;
}

.underline {
  width: 100%;  /* Die Breite der Linie entspricht der Breite des Textes */
  max-width: 1118px; /* Gleiche maximale Breite wie der Textcontainer */
  height: 1px; /* Höhe der Linie */
  background-color: #000; /* Farbe der Linie, z.B. schwarz */
  margin: 10px auto; /* Zentriert die Linie und fügt oben und unten Abstand hinzu */
}

/* Styling für das Logo */
.logo {
    height: 70px;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1000;
}

/* Content padding to avoid overlapping with navbar */
.content {
    overflow-y: auto;
    height: auto; /* Höhe des Inhalts anpassen */
    width: 80%;
    max-width: 1118px; /* Gleiche maximale Breite wie der Footer */
    margin: 0 auto; /* Zentriert den Inhalt */
    padding-top: 100px;
    box-sizing: border-box;
    padding-bottom: 150px; /* Platz für den Footer */
    box-sizing: border-box;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    background-color: #e2e8f0;
   
;
}

#about {
  width: 100%; /* Gleiche Breite wie die Navbar */
  max-width: 1118px; /* Gleiche maximale Breite wie die Navbar */
  margin: 0 auto; /* Zentriert die Sektion */
  padding-top: 100px;
  background-color: #e2e8f0;
  box-sizing: border-box;
}
.aboutme-header {
  display: block;
  max-width: 100%; 
  height: auto; 
  margin: 20px auto; 
  border-radius: 8px; 
}

.aboutme-header img {
  max-width: 100%; 
  height: auto; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
}

/* Section styling */
section {
  width: 100%; /* Anpassung an Navbar-Breite */
  max-width: 1118px; /* Gleiche maximale Breite wie die Navbar */
  margin: 0 auto; /* Zentriert die Sektionen */
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  height: auto; /* Dynamische Höhe */
  background-color: transparent;
  text-align: justify;
}

#home {
    /*background-color: rgba(222, 223, 55, 0.9);*/
    background-color: #e2e8f0;
}

#about {
    background-color: #e2e8f0;
}

#contact {
    background-color: #e2e8f0;
}

/* Entfernt das Scrollen und weiße Streifen */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #cbd5e0;
    
}

/* Versteckt die Scrollbar für Webkit-Browser */
.content::-webkit-scrollbar {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Footer styling */
.footer { 
  background-color: rgba(0, 113, 185) !important;
  color: white;
  text-align: left;
  padding: 20px 20px; /* Anpassung für Höhe des Footers */
  position: static;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2) !important; 
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 0px 20px;
  }
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  
  .footer-section p,
  .footer-section a {
    font-size: 0.9em;
    line-height: 1;
    color: white;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .quick-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quick-links ul li {
    margin: 5px 0;
  }
  
  .quick-links ul li a {
    color: white;
  }
  
  .social-icons a {
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ddde3a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

.swiper-button-next {
  right: 20px; /* Abstand zum Rand des Containers */
}

.swiper-button-prev {
  left: 20px; /* Abstand zum Rand des Containers */
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px;
  color: rgba(0, 113, 185);
}

@media (max-width: 400px) {
  .content,
  #about,
  #home,
  section {
      width: 100%; /* Nutzt die gesamte Breite des Bildschirms */
      max-width: 100%; /* Maximale Breite auch auf 100% gesetzt */
      padding-left: 10px; /* Optional: etwas Innenabstand links und rechts */
      padding-right: 10px;
      background-color: #cbd5e0;
  }
}
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
    .reference-card {
      width: 90%;
  }
    .footer-section {
      margin: 20px 0;
    }
    .navbar {
      width: 100%;
      padding: 10px;
    }
  
    mat-toolbar .mat-button {
      display: none; /* Versteckt Buttons im mobilen Menü */
    }
  
    mat-icon {
      color: white;
      font-size: 24px;
    }
  }