body {
  font-family: 'BrutalType', sans-serif;
  margin: 0; /* Verhindert Standard-Margins */
  padding-right: 0; /* Platz für Scrollbar sicherstellen */
  overflow-y: scroll; /* Immer Scrollbar anzeigen */
  box-sizing: border-box; /* Einheitliches Box-Modell */
  /*background-color: rgba(71, 71, 71, 0.9); Primärfarbe */
}

* {
  box-sizing: border-box; /* Für alle Elemente einheitliches Modell */
}

.services-container, .content, .about-container, .contact-container {
  padding-right: 16px; /* Platz für die Scrollbar */
}

.services-container, .about-container, .contact-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%; /* Verhindert, dass der Inhalt zu nah an den Bildschirmrand kommt */
  overflow: hidden; /* Sicherstellen, dass kein Überlauf entsteht */
}
body::-webkit-scrollbar {
  width: 8px; /* Scrollbar-Breite */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 113, 185, 0.9); /* Primärfarbe */
  border-radius: 5px; /* Runde Ecken */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 90, 150, 1); /* Dunkleres Blau bei Hover */
}

@font-face {
  font-family: 'BrutalType';
  src: url('/assets/fonts/BrutalType.woff2') format('woff2'),
       url('/assets/fonts/BrutalType.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Styling for the navbar */
.navbar {
  position: fixed;
  top: 20px; /* Abstand vom oberen Rand */
  left: 50%; /* Verschiebt die Navbar zur Mitte des Bildschirms */
  transform: translateX(-50%); /* Zentriert die Navbar */
  width: 70% !important;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white !important;
  border-radius: 10px;
  padding: 40px 0 !important; /* Vertikaler Innenabstand */
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.navbar-scrolled {
  background-color: white !important; /* Weißer Hintergrund, wenn gescrollt */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Schatten hinzufügen */
  border-radius: 10px;
}

.logo {
  height: 40px;
  margin-right: 20px;
}

.logo-container {
  position: absolute;
  left: 20px; /* Abstand von der linken Seite */
}

/* Navigation links styling */
.nav-links {
  display: absolute;
  justify-content:space-around;
  width: 50%;
  max-width: 1200px;
  align-items: center;
}

.nav-links button {
  display:inline;
  background: none;
  border: none;
  color: black; /* Standardfarbe */
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family: 'BrutalType', sans-serif;
}

.navbar-scrolled .nav-links button {
  color: black; /* Farbe bei gescrolltem Zustand */
}

.nav-links button:hover {
  color: rgba(0, 113, 185, 0.9); /* Hover-Farbe */
}

/* Mobile menu toggle (Hamburger) */
.menu-toggle {
  display: none; /* Standardmäßig nicht sichtbar */
  font-size: 24px;
  cursor: pointer;
}

.navbar .menu-toggle {
  color: black;
}

.navbar-scrolled .menu-toggle {
  color: black;
}

button[mat-icon-button] {
  position: absolute;
  right: 20px; /* Abstand vom rechten Rand */
  top: 50%; /* Zentriert vertikal */
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Über alles andere legen */
}

.appointment-button {
  position: relative;
  left: 150px; /* Abstand von der rechten Seite */
  font-size: 14px; /* Schriftgröße */
  font-weight: bold; /* Fettdruck */
  color: rgba(0, 113, 185) !important;
  background-color: rgba(222, 222, 58, 0.767) !important; /* Primäre Farbe */
  border-radius: 5px; /* Runde Ecken */
  padding: 8px 15px; /* Innenabstand */
  /* Abstand zu den anderen Buttons */
  cursor: pointer; /* Zeiger ändern */
  transition: background-color 0.3s ease;
}

.appointment-button:hover {
  background-color: rgb(222, 222, 58)!important;
  color: rgba(0, 113, 185) !important;
}

/* Container- und Header-Layout */
.about-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto; /* Zentriert den Container */
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Schlagschatten */
  border-radius: 10px; /* Abgerundete Ecken */
  padding: 20px 25px; /* Innenabstand */
  text-align: center; /* Zentrierter Text */
  font-family: 'BrutalType', sans-serif;
  overflow: hidden; /* Verhindert Überlauf */
}

.about-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Pfeil-Container */
.toggle-arrow {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Pfeil-Design */
.arrow {
  width: 12px;
  height: 12px;
  border-top: 2px solid black; /* Horizontale Linie */
  border-right: 2px solid black; /* Vertikale Linie */
  transform: rotate(-45deg); /* Standard (nach unten) */
  transition: transform 0.3s ease; /* Sanfte Drehung */
}

.arrow-up {
  transform: rotate(135deg); /* Zeigt nach oben */
}

.arrow-down {
  transform: rotate(-45deg); /* Zeigt nach unten */
}

/* Bild-Design */
.aboutme-header img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Versteckbarer Inhalt */
.about-content {
  margin-top: 20px;
}

.about-content.hidden {
  display: none;
}
/* Styling für die Überschrift */
.about-container h1 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(0, 113, 185, 0.9);
}

.data-title{
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgba(0, 113, 185, 0.9);
  padding: 10px 0;
}

/* Trennlinie */
.underline {
  width: 50px;
  height: 5px;
  background-color: rgba(0, 113, 185, 0.8);
  margin: 10px auto 20px;
  border-radius: 5px;
}

/* Service Styling */
.services-container {
  width: 100%;
  max-width: 1250px;
  margin: 20px auto; /* Zentriert den Container */
  background-color: white;
  padding: 20px 25px; /* Innenabstand */
  text-align: center; /* Zentrierter Text */
  overflow: hidden; /* Verhindert Überlauf */
}

/* Überschrift */
.services-title {
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgba(0, 113, 185, 0.9);
  padding: 10px 0;
}

/* Grid für die Service-Container */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Drei Spalten */
  gap: 20px; /* Abstand zwischen den Containern */
}

/* Einzelne Service-Box */
.service-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Überlauf verhindern */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Bildbereich */
.service-image {
  height: 80%; /* Nimmt 80% der Box ein */
  overflow: hidden;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Bild anpassen, ohne Verzerrung */
  display: block;
}

/* Inhalt */
.service-content {
  padding: 0px;
  text-align: center;
  background-color: white;
}

.service-content h2 {
  font-size: 1.2rem;
  color: rgba(0, 113, 185, 0.9);
  margin: 10px 0;
}

.service-content p {
  font-size: 0.9rem;
  color: #555;
}

/*Styling Kontakt*/
/* Container für die gesamte Kontakt-Sektion */
.contact-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto; /* Zentriert den Container */
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Schlagschatten */
  border-radius: 10px; /* Abgerundete Ecken */
  padding: 20px 25px; /* Innenabstand */
  text-align: center; /* Zentrierter Text */
  font-family: 'BrutalType', sans-serif;
  overflow: hidden; /* Verhindert Überlauf */
}

/* Styling für die Überschrift */
.contact-container h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgba(0, 113, 185, 0.9);
}

/* Beschreibungstext */
.contact-container p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 20px;
}

/* Google Maps-Container */
.map-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Verhältnis für 16:9 */
  overflow: hidden;
  border-radius: 10px; /* Abgerundete Ecken */
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* Google Maps iframe */
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Entfernt den Rahmen */
  border-radius: 10px;
}

/* Button zum Starten der Navigation */
.navigation-button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 113, 185, 0.9); /* Blau */
  padding: 12px 20px; /* Innenabstand */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navigation-button:hover {
  background-color: rgba(0, 90, 150, 1); /* Dunkleres Blau bei Hover */
  transform: scale(1.05); /* Vergrößert den Button leicht */
}

/* Styling für den Titel */
.about-title {
  text-align: center; /* Zentriert den Text horizontal */
  margin: 0 auto; /* Zentriert den gesamten Block */
  font-size: 2.5rem; /* Schriftgröße */
  font-weight: bold; /* Fett */
  color: rgba(0, 113, 185, 0.9); /* Primärfarbe */
  padding: 10px 0; /* Vertikaler Innenabstand */
}

/* Styling für die Trennlinie */
.underline {
  justify-content: center;
  width: 60%;
  height: 3px;
  background-color: rgba(0, 113, 185, 0.8);
  margin: 0px auto 30px;
  border-radius: 5px;
  
}

/* Bild-Styling */
.about-image {
  width: 100%; /* Bild ist immer 100% breit */
  display: block;
  border-radius: 10px 10px 0 0; /* Runde obere Ecken */
  object-fit: cover; /* Bild an Container anpassen */
}

/* Inhalt */
.about-content {
  padding: 20px;
}

/* Schlagschatten und runde Ecken */
.about-content h2 {
  margin-top: 20px;
  font-size: 1.8rem;
}

.about-content p {
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Button-Styling */
.toggle-button {
  background-color: rgba(0, 113, 185, 0.8);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s ease-in-out;
}

.toggle-button:hover {
  background-color: rgba(0, 113, 185, 1);
}

/* Content padding to avoid overlapping with navbar */
.content {
  overflow-y: auto;
  height: auto; /* Höhe des Inhalts anpassen */
  width: 80%;
  max-width: 1300px; /* Gleiche maximale Breite wie die Navbar */
  margin: 0 auto; /* Zentriert den Inhalt */
  margin-top: 80px;
  padding-top: 10px; /* Platz für Navbar */
  padding-bottom: 150px; /* Platz für den Footer */
  box-sizing: border-box;
  background-color: white;
}
/* Swiper */
.swiper.mySwiper {
  /* Deine Stile hier */
  /* background-color: lightblue; */
  width: 100%;
    max-width: 1250px; /* maximale Breite für den gesamten Swiper-Container */
    margin: 0px auto;
    padding: 50px 50px 40px 50px;
}
.references-title {
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgba(0, 113, 185, 0.9);
  padding: 10px 0;
}

/* Styling der Referenzkarte */
.swiper-slide {
  background-color: #ddde3a;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin: 0 auto; /* Zentriert den Inhalt */
  margin-top: 0px;
  padding: 50px 30px 50px 30px;
  justify-items: center;
}

/* Footer styling */
.footer {
  background-color: rgba(0, 113, 185) !important;
  color: white;
  text-align: left;
  padding: 20px 20px; /* Anpassung für Höhe des Footers */
  position: static;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2) !important;
}
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 0px 20px;
  }
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  
  .footer-section p,
  .footer-section a {
    font-size: 0.9em;
    line-height: 1;
    color: white;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .quick-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quick-links ul li {
    margin: 5px 0;
  }
  
  .quick-links ul li a {
    color: white;
  }
  
  .social-icons a {
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
  }

/* Responsive Footer */
@media (max-width: 768px) {
  .contact-container {
    padding: 15px;
    margin-bottom: 10px;
  }

  .contact-container h1 {
    font-size: 24px;
  }

  .navigation-button {
    font-size: 14px;
    padding: 10px 15px;
  }
  .about-container {
    width: 100%;
    margin-bottom: 10px; /* Zentrierung entfernen */
    padding: 0 10px; /* Optional: Innenabstand für Ränder */
  }

  .about-content h2 {
    font-size: 1.5rem;
  }

  .toggle-button {
    font-size: 0.9rem;
  }
  .nav-links {
    display: none; /* Navigation wird mobil versteckt */
    flex-direction: column; /* Navigation in eine Spalte */
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Schatten für Dropdown-Menü */
  }

  .nav-links.open {
    display: flex; /* Navigation sichtbar, wenn geöffnet */
  }

  .menu-toggle {
    display: block; /* Hamburger-Menü im mobilen Layout anzeigen */
  }

  .appointment-button {
    position: fixed; /* Fixiert den Button an einer festen Position */
    bottom: 20px; /* Abstand vom unteren Rand */
    right: 20px; /* Abstand vom rechten Rand */
    width: 60px; /* Runde Form: Breite */
    height: 60px; /* Runde Form: Höhe */
    background-color: rgb(222, 222, 58); /* Button-Farbe */
    color: rgb(36, 34, 34); /* Text-/Symbolfarbe */
    border: none; /* Keine Umrandung */
    border-radius: 50%; /* Runde Form */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Schlagschatten */
    display: flex; /* Flexbox aktivieren */
    justify-content: center; /* Zentriert Symbol horizontal */
    align-items: center; /* Zentriert Symbol vertikal */
    cursor: pointer; /* Klickindikator */
    z-index: 1000; /* Über anderen Elementen */
  }

  .appointment-button:hover {
    background-color: rgba(222, 200, 58, 0.9); /* Helle Hover-Farbe */
    color: rgba(0, 113, 185); /* Hover-Farbe für Text */
    transform: scale(1.1); /* Button wird beim Hover etwas größer */
  }

  .navbar {
    width: 100% !important; /* Füllt die Breite aus */
    padding: 10px; /* Reduzierte Höhe */
    justify-content: space-between; /* Platz zwischen Logo und Burger-Menü */
    height: auto;
  }

  button[mat-icon-button] {
    display: block; /* Burger-Menü sichtbar */
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin: 20px 0;
  }

  button[mat-icon-button] {
    display: block; /* Burger-Menü im mobilen Layout anzeigen */
  }
  .content {
    margin-top: 80px; /* Abstand einfügen */
  }
  .content,
  #about,
  #home,
  section {
    width: 100%;
    margin: 0; /* Zentrierung entfernen */
    padding: 0 10px; /* Optional: Innenabstand für Ränder */
    background-color: #ffffff;
    padding-top: 50px;
  }
  .services-grid {
    grid-template-columns: 1fr; /* Nur eine Spalte */
    justify-items: center; 
  }
  .service-box {
    width: 100%; /* Reduziert die Breite der Container */
  }
  .services-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0; /* Zentrierung entfernen */
    padding: 0 10px; /* Optional: Innenabstand für Ränder */
  }
  .services-container, .content, .about-container, .contact-container {
    padding-right: 10px; /* Reduzierter Abstand für mobile Geräte */
  }
}
