/* Styling for the navbar */
.navbar {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1118px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(0, 113, 185, 0.9) !important;
    padding: 0 20px;
    margin: 0 20px;
    color: white !important;
    transition: transform 0.3s ease-in-out;
}

/* Styling für das Logo */
.logo {
    height: 70px;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1000;
}

/* Content padding to avoid overlapping with navbar */
.content {
    overflow: auto;
    height: calc(100vh - 100px); /* Höhe des Inhalts anpassen */
    width: 90%;
    max-width: 1200px; /* Gleiche maximale Breite wie der Footer */
    margin: 0 auto; /* Zentriert den Inhalt */
    padding: 15px;
    padding-top: 100px;
    box-sizing: border-box;
    padding-bottom: 0px; /* Platz für den Footer */
    box-sizing: border-box;    
}

/* Section styling */
section {
    padding: 50px;
    height: 100vh;
    margin: 0; /* Zusätzlicher Abstand sicherstellen */
}

#home {
    /*background-color: rgba(222, 223, 55, 0.9);*/
    background-color: #cbd5e0;
}

#about {
    background-color: #e2e8f0;
}

#contact {
    background-color: #cbd5e0;
}

/* Entfernt das Scrollen und weiße Streifen */
html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: rgba(222, 223, 55, 0.9);*/
    background-color: #cbd5e0;
}

/* Versteckt die Scrollbar für Webkit-Browser */
.content::-webkit-scrollbar {
    display: none;
}

/* Footer styling */
.footer {
    width: 100%;
    background-color: rgba(0, 113, 185) !important;
    color: white;
    text-align: center;
    padding: 20px 0; /* Anpassung für Höhe des Footers */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* Footer styling */
.footer {
    width: 100%;
    background-color: rgba(0, 113, 185, 0.9);
    color: white;
    padding: 20px 20px;
    text-align: left;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 0px 20px;
  }
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  
  .footer-section p,
  .footer-section a {
    font-size: 0.9em;
    line-height: 1;
    color: white;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .quick-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quick-links ul li {
    margin: 5px 0;
  }
  
  .quick-links ul li a {
    color: white;
  }
  
  .social-icons a {
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
    .footer-section {
      margin: 20px 0;
    }
  }